<template name="New">
  <!-- Must be logged in -->
  {{> ensureSignedIn }}

  {{#if currentUser}}
  <div class="insert-form">
    <div class="container">
      <div class="row">
        <div class="col s12">
          {{#autoForm collection="Restaurants" id="insertResForm" type="insert"}}
          {{> afQuickField name='name' template='materialize'}}
          {{> afQuickField name="image" id="add-image"}}
          <br>
          {{> afQuickField name='speedValue' id='speed' readonly=true placeholder='Mbps'}}
          <div class="progress"></div> <!-- Progress -->
          <a class="speed-test waves-effect waves-light btn">Test now</a> <!-- Test speed -->
          {{> afQuickField name='address.line1' template='materialize'}}
          {{> afQuickField name='address.line2' template='materialize'}}
          {{> afQuickField name='address.city' template='materialize'}}
          {{> afQuickField name='address.postcode' template='materialize'}}
          {{> afQuickField name='address.state' template='materialize'}}
          {{> afQuickField name="location"}}
          <br>
          <button type="submit" class="waves-effect waves-light btn-large">Submit</button>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</template>
